<div class="container">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of produtos">
            <td style="width: 20%;">
              <img src="../../../../../arquivos/{{p.nomeArquivo}}" style="width:40%; height:10%"/>
            </td>
            <td style="width: 40%;">
              {{p.nome}}
            </td>
            <td style="width: 10%;">
              <input type="number" class="form-control" value="1"(change)="atualizarPreco(p,$event.target.value)"
                     [(ngModel)]="p.quantidade" placeholder="1"/>
            </td>
            <td style="width: 30%;">
              R$ {{p.preco | number:'1.0-2'}}
            </td>
            <td>
              <button (click)="removerProduto(p)" class="btn btn-secondary btn-sm">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="card" style="width: 100%;">
          <div class="card-header">
            Resumo
          </div>
          <div class="card-body">
            <table class="mb-4">
            <tr>
              <td style="width:70%;"><strong>Total:</strong></td>
              <td><strong>R$ {{total | number:'1.0-2'}}</strong></td>
            </tr>
            </table>
            <span class="text-sm-center mb-2 text-dark">Endereço de Entrega</span>
            <form  [formGroup]="cadastroPedido">
            <label for="idCep" class="sr-only">CEP</label>
            <input placeholder="CEP" class="form-control mb-2" id="cep" controlName="cep" [formGroup]="cadastroPedido" formControlName="cep" type="text">
            <label for="idCidade" class="sr-only">Cidade</label>
            <input placeholder="Cidade" class="form-control mb-2" id="idCidade" controlName="cidade"  formControlName="cidade" [formGroup]="cadastroPedido" type="text">
            <label for="idEnderecoCompleto" class="sr-only">Cidade</label>
            <input placeholder="Endereço Completo" class="form-control mb-2" id="idEnderecoCompleto" controlName="enderecoCompleto" [formGroup]="cadastroPedido" formControlName="enderecoCompleto" type="text">
            <label for="idNumeroEndereco" class="sr-only">Cidade</label>
            <input placeholder="Numero" class="form-control mb-2" id="idEnderecoNumero" controlName="enderecoNumero" [formGroup]="cadastroPedido" formControlName="enderecoNumero" type="text">
            <label for="idEstado" class="sr-only">Cidade</label>
            <input placeholder="Estado" class="form-control mb-2" id="idEstado" controlName="estado" [formGroup]="cadastroPedido" formControlName="estado" type="text">
            <button class="btn btn-danger hvr-back-pulse"style="width:100%;" (click)="efetivarCompra()">Efetivar Compra</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  pedido.cep = "15515";
    pedido.cidade = "Macaubal";
    pedido.enderecoCompleto = "sao paulo macaubal rua dos driussi";
    pedido.estado = "São Paulo";
    pedido.dataPrevistaEntrega = new Date();
    pedido.formaPagamentoId = 1;
    pedido.numeroEndereco = "58";
-->
