<div *ngIf="!produtos">Listando produtos...</div>
<div class="container" >
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let p of produtos">
      <a (click)="abrirProduto(p)" style="cursor:pointer;">
        
          <div class="card border-dark mb-3 hvr-float">
            <img class="card-top" src="../../../../../arquivos/{{p.nomeArquivo}}" style="width: 200px; height: 200px;" />
            <div class="card-body">
              <div class="card-text">{{p.descricao | truncate: 50}}</div>
              <h4 class="h4">{{p.preco}}</h4>
            </div>
          </div>
        
      </a>
    </div>
  </div>
</div>
